.DS_Store
/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.env
/.idea
/.sync-config.cson
Homestead.json
Homestead.yaml
/angular/**/*.js
/angular/**/*.js.map
/public_html/dist
/public_html/index.php
/npm-debug.log
