/********************
Twitter Ipsum CSS Styles
Angular Attack 2017!
@dbeetz, @dmcdonald, @bbrown, @actordie
 ********************/

/* main styles */

/* Navbar */
#navbar-main {
	@navbar-height: 75px;
	@navbar-padding-vertical: 0;
	height: 75px;
}

.navbar-default {
	background-color: white;
}

body {
	font-family: Arial, sans-serif;
}

/* Splash Page */
.main-search {
	margin-top: 15px;
	margin-bottom: 15px;
}