/********************
Twitter Ipsum CSS Styles
Angular Attack 2017!
@dbeetz, @dmcdonald, @bbrown, @actordie
 ********************/

/**********
Main Styles
***********/

body,
html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-size: cover;
	background: #87cefa no-repeat; /* For browsers that do not support gradients */
}

/* I Love Smooth Transitions! */
a,
a:link,
a:visited,
a:hover,
a:active,
button,
button:link,
button:visited,
button:hover,
button:active {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	color: deepskyblue;
	background-color: transparent;
}

/* Navbar */
#navbar-main {
	@navbar-height: 75px;
	@navbar-padding-vertical: 0;
	height: 75px;
}

.navbar-default {
	background-color: white;
}

body {
	font-family: Arial, sans-serif;
}

/**********
Splash Page
***********/

.main-search {
	margin-top: 25px;
	margin-bottom: 25px;
}

.ipsum-well {
	margin-top: 25px;
	margin-bottom: 25px;
}

.ipsum-text {
	text-align: left;
}

.ipsum-well {
	background-color: white;
}

button.btn-default {
	background-color: #65bdff;
}

button.btn-default:hover {
	background-color: white;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:link:active, a:visited:active {
	color: white;
}

/* Media Queries */

/* Small screens */
@media only screen {

} /* Define mobile styles */

@media only screen and (max-width: 40em) {

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {

} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {

} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {

} /* min-width 1441px, xlarge screens */
